html, body, .page-wrapper {
  margin: 0;
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

.nav-bar {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
  }
}