@import '../../../index.scss';

.about-page {
    background-color: $background-color;
    width: 100%;
    display: flex;
    justify-content: center;

    .about-container {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        h2 {
            color: white;
            font-family: "Raleway", Helvetica, Arial, sans-serif;
            font-size: $h1-text-rem;
            font-weight: 700;
            line-height: normal;
            padding: $base-padding;
            text-align: center;
            width: 100%;
        }
    
        .introduction {
            width: $max-width;
    
            .card-1,
            .card-2,
            .card-3,
            .card-4 {
                padding: $base-padding 0px;
                display: flex;
            }
    
            .card-1,
            .card-3 {
                background-color: $primary-color;
            }
    
            .card-2,
            .card-4 {
                background-color: $secondary-color;
            }
    
            img,
            iframe {
                margin: calc($base-padding / 2);
                width: 50%;
            }
    
            iframe {
                border: none;
                aspect-ratio: calc(16/9);
            }
    
            p {
                color: white;
                font-family: "Raleway";
                font-size: $small-text-em;
                margin: calc($base-padding / 2);
                width: 50%;
                display: flex;
                align-items: center;
            }
        }
    }
}