@import '../../../index.scss';

.board-page {
    background-color: $background-color;
    width: 100%;
    display: flex;
    justify-content: center;

    .content {
        background-color: $secondary-color;
        margin: $base-padding 0 $base-padding 0;
        padding: 0 $base-padding $base-padding $base-padding;
        width: $max-width;
        display: flex;
        flex-wrap: wrap;

        h3 {
            color: white;
            font-family: "Raleway";
            font-size: 26px;
            font-weight: 700;
            padding: calc($base-padding / 2) 0 0 0;
            text-align: center;
            width: 100%;
        }

        .profile-container {
            margin: calc($base-padding / 2) 0 0 0;
            margin: $base-padding;
            width: 100%;
        
            .profile {
                background-color: white;
                border-radius: calc(infinity * 1px);
                padding: $base-padding;
                position: relative;
                overflow: hidden;
                display: flex;
        
                max-width: calc(125px + ($base-padding / 2));
                max-height: calc(125px + ($base-padding / 2));
                transition: 0.5s;
        
                .left {
                    border-radius: 100%;
                    width: 100%;
        
                    .profile-image {
                        aspect-ratio: calc(1/1);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        margin: calc($base-padding * -0.75) 0 0 calc($base-padding * -0.75);
                        width: 125px;
                        border-radius: 50%;
                    }
                }
        
                .right {
                    position: absolute;
                    top: calc($base-padding / 4);
                    left: calc(125px + ($base-padding * 0.75));
                    padding: 0 $base-padding 0 $base-padding;
                    width: calc($max-width - ($base-padding * 4) - 125px);
                    transition: opacity 0.5s;
        
                    h5, p {
                        align-items: center;
                        color: #333;
                        font-family: "Raleway";
                        font-weight: 700;
                    }
        
                    h5 {
                        font-size: 1.3em;
                    }
        
                    p {
                        font-size: $small-text-px;
                        padding: 5px 0 0 0;
                        width: 100%;
                    }
                }
            }
        }
        
        .profile-container:hover {
            .profile {
                max-width: 100%;
                max-height: auto;
            }
        }
    }
}