@import '../../../index.scss';

.board-page {
    background-color: $background-color;
    width: 100%;
    display: flex;
    justify-content: center;

    .content {
        background-color: $secondary-color;
        margin: $base-padding 0 $base-padding 0;
        padding: 0 $base-padding $base-padding $base-padding;
        width: $max-width;
        display: flex;
        flex-wrap: wrap;

        h2 {
            color: white;
            font-family: "Raleway";
            font-size: $h1-text-rem;
            font-weight: 700;
            padding: calc($base-padding / 2) 0 calc($base-padding / 2) 0;
            text-align: center;
            width: 100%;
        }

        .profile-container {
            margin: calc($base-padding / 2) 0 0 0;
            width: 100%;
        
            .profile {
                background-color: white;
                border-radius: calc(infinity * 1px);
                padding: $base-padding;
                position: relative;
                overflow: hidden;
                display: flex;
        
                max-width: 9rem;
                max-height: 9rem;
                transition: 0.5s;
        
                .left {
                    border-radius: 100%;
                    width: 100%;
        
                    .profile-image {
                        aspect-ratio: calc(1/1);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        margin: -2rem 0 0 -2rem;
                        width: 8rem;
                        border-radius: 50%;
                    }
                }
        
                .right {
                    position: absolute;
                    top: 0.5rem;
                    left: 9rem;
                    padding: 0 1rem 0 1rem;
                    width: calc($max-width - 20rem);
                    transition: opacity 0.5s;
        
                    h5, p {
                        align-items: center;
                        color: #333;
                        font-family: "Raleway";
                        font-weight: 700;
                    }
        
                    h5 {
                        font-size: 1.5rem;
                    }
        
                    p {
                        background-color: white;
                        font-size: 1rem;
                        padding: 5px 0 0 0;
                        width: 100%;

                        hyphens: auto;
                        text-align: justify;
                        word-wrap: break-word;
                    }
                }
            }
        }
        
        .profile-container:hover {
            .profile {
                max-width: 100%;
            }
        }
    }
}