@import '../index.scss';

.project-page {
    background-color: $primary-color;
    display: flex;
    justify-content: center;

    .content {
        background-color: $secondary-color;
        width: $max-width;

        h3 {
            color: white;
            font-family: "Raleway";
            font-size: 26px;
            font-weight: 700;
            text-align: center;
            padding: $base-padding;
            width: 100%;
        }

        .youtube-container {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: calc($base-padding / 2);

            iframe {
                border: none;
                width: 80%;
                aspect-ratio: 16/9;
            }
        }

        .image-container {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: calc($base-padding / 2);

            img {
                width: 66%;
                aspect-ratio: 4/3;
            }
        }

        .text-container {
            width: 100%;
            display: flex;
            justify-content: center;

            p {
                color: white;
                // font-family: "Courier";
                font-family: "Raleway";
                font-size: 1.3em;
                padding: calc($base-padding / 2);
                width: 80%;
            }
        }
    }
}