// $clu-purple: #3b2360;
// $clu-light-purple: #6a4c92;
// $clu-gold: #ffcb08;
// $clu-light-gold: #fcf4e0;
// // $primary-color: #3e3e42;
// $primary-color: #3e3739;
// $secondary-color: #231f20;

$primary-color: #4655bc;
$secondary-color: #377498;
$tertiary-color: #4c5192;
$accent-color: #08ffcb;
$background-color: #151a3b;

$base-padding: 40px;
$max-width: 1230px;
$h1-text-rem: 3.5rem;
$small-text-em: 1.3em;
$small-text-px: 16px;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  outline: 1px solid #f00 !important;
}