$clu-purple: #3b2360;
$clu-light-purple: #6a4c92;
$clu-gold: #ffcb08;
$clu-light-gold: #fcf4e0;
// $primary-color: #3e3e42;
$primary-color: #3e3739;
$secondary-color: #231f20;

$base-padding: 40px;
$max-width: 1230px;
$h1-text-rem: 3.5rem;
$small-text-em: 1.3em;
$small-text-px: 16px;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-y: scroll;
}

.nav-container {
  background-color: $clu-purple;
  display: flex;
  justify-content: center;
  align-items: center;

  .nav-bar {
    background-color: $clu-purple;
    width: $max-width;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        height: 45px;
        display:flex;
      }
  
      h2 {
        color: white;
        font-family: "Raleway";
        font-size: 30px;
        padding-left: 32px;
      }
    }

    .right {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      
      a {
          background-color: rgba(0, 0, 0, 0);
          color: white;
          font-family: "Raleway";
          font-size: 17px;
          font-weight: 700;
          line-height: $base-padding;
          padding: 0px 15px 0px 15px;
          text-decoration: none;
      }
      a:hover {
        color: $clu-gold;
      }

      :last-child {
        margin-right: -15px;
      }
    }
  }
}

.footer-container {
  background-image: url(https://www.callutheran.edu/_resources/img/global/global-footer-bg-1.jpg);
  background-position: center center;
  // height: 585px;
  display: flex;
  justify-content: center;

  .footer {
    padding: 3rem 12px;
    width: 1170px;

    .columns {
      padding: 0px -12px;
      display: flex;
      justify-content: space-between;

      .col-1 {
        img {
          width: 100%;
          height: auto;
          margin: 0 0 1rem 0;
          max-width: 150px;
        }

        address, p {
          color: white;
          font-family: "Raleway", Helvetica, Arial, sans-serif;
          font-size: $small-text-px;
          font-style: normal;
        }

        .phone-number {
          font-size: 1rem;
          line-height: 1.5em;
          padding: 0 0 1em 0;
        }

        .apply-button {
          padding: 0 0 1em 0;

          a {
            background: #ffd589;
            border: 1px solid rgba(0,0,0,.3);
            border-radius: 5px;
            box-shadow: 0 5px 5px -5px rgba(0,0,0,.75);
            color: $clu-light-purple;
            font-family: "Tungsten",impact, sans-serif;
            font-size: 1.5rem;
            letter-spacing: 0px;
            line-height: 1em;
            text-align: center;
            text-decoration: none;
            padding: 0.5rem 1rem;
            transition: 50ms ease-in-out all;
            display: inline-block;
          }
        }

        .campus-buttons{
          padding: 0 0 1em 0;

          a{
            color: white;
            font-size: 1.125rem;
            padding: 0.25rem 0.5rem;
            font-family: "Tungsten",Impact,sans-serif;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 1px;
            line-height: 1em;
            text-align: center;
            background: #6a4c92;
            border-radius: 5px;
            border: 1px solid rgba(0,0,0,.3);
            box-shadow: 0 5px 5px -5px rgba(0,0,0,.75);
            transition: 50ms ease-in-out all;
            display: inline-block;
          }
        }

        .campus-locations {
          color: $clu-gold;
          font-family: "Raleway";
          font-weight: bold;
          font-size: $small-text-px;
          text-decoration: none;
        }
        .campus-locations:hover {
          text-decoration: underline;
        }

        .social-medias {
          li {
            .face-book::before {
              font-family: "Font Awesome 5 Free";
              content: "\f095";
              display: inline-block;
              padding-right: 3px;
              vertical-align: middle;
              font-weight: 900;
            }
          }
        }
      }

      h5 {
        color: white;
        font-family: "Raleway", Helvetica, Arial, sans-serif;
        font-size: 1.125rem;
        font-weight: bold;
        line-height: 1.1em;
        margin: 0 0 0.5rem 0;
      }

      li {
        line-height: 1.5em;
        list-style: none;
        padding: 0.325rem 0;

        a {
          color: $clu-gold;
          font-family: "Raleway";
          font-size: $small-text-px;
          text-decoration: none;
        }
        a:hover{
          text-decoration: underline;
        }
      }
    }

    .bottom-row {
      border-top: 4px solid $clu-light-purple;
      padding: 2rem 0 0 0;

      p {
        color: white;
        font-family: "Raleway", Helvetica, Arial, sans-serif;
        font-size: 0.9em;
        line-height: 1.5em;
        padding: 0 0 1em 0;
      }
      
      ul {
        list-style-type:none;
        display: flex;
        justify-content: space-between;

        li {

          a {
            color: $clu-gold;
            font-family: "Raleway";
            font-size: 0.9rem;
            line-height: 1.5em;
            list-style: none;
            text-decoration: none;
          }
          a:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.home-page {
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .header {
    background-image: url(https://sites.callutheran.edu/tug-programs/wp-content/uploads/sites/21/2021/03/computer-science-large.jpg);
    background-position: center center;
    width: 100vw;
    height: 400px;
  
    .image-overlay {
      background-color: rgba(0,0,0,.5);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        color: white;
        font-family: "Raleway",Helvetica,Arial,sans-serif;
        font-size: $h1-text-rem;
        font-weight: 700;
        line-height: normal;
      }
    }
  }

  .content {
    width: $max-width;

    .content-card {
      background-color: $secondary-color;
      color: white;
      margin: $base-padding 0px $base-padding 0px;
      display: flex;

      a {
        display: flex;

        img {
          width: 300px;
          height: 300px;
        }
      }

      .info {
        width: 100%;
        
        h3 {
          width: 100%;
          display: flex;
          justify-content: center;

          a {
            color: white;
            font-family: "Raleway";
            font-size: 26px;
            font-weight: 700;
            text-align: center;
            text-decoration: none;
            padding: 20px;
          }
        }

        p {
          // font-family: "Courier";
          font-family: "Raleway";
          font-size: 1.3em;
          padding: 0px $base-padding 0px $base-padding;
        }
      }
    }
  }
}

.project-page {
  background-color: $primary-color;
  display: flex;
  justify-content: center;

  .content {
    background-color: $secondary-color;
    width: $max-width;

    h3 {
      color: white;
      font-family: "Raleway";
      font-size: 26px;
      font-weight: 700;
      text-align: center;
      padding: $base-padding;
      width: 100%;
    }

    .youtube-container {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: calc($base-padding / 2);

      iframe{
        border: none;
        width: 80%;
        aspect-ratio: 16/9;
      }
    }

    .image-container {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: calc($base-padding / 2);

      img {
        width: 66%;
        aspect-ratio: 4/3;
      }
    }

    .text-container {
      width: 100%; 
      display: flex;
      justify-content: center;
      p {
        color: white;
        // font-family: "Courier";
        font-family: "Raleway";
        font-size: 1.3em;
        padding: calc($base-padding / 2);
        width: 80%;
      }
    }
  }
}

.about-page {
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .header {
    background-image:url(https://www.mtu.edu/business/undergraduate/organizations/student-organizations/finance-club/images/finance-club-banner1200.jpg);
    width: 100vw;
    height: 400px;

    .image-overlay {
      background-color: rgba(0,0,0,.5);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        color: white;
        font-family: "Raleway",Helvetica,Arial,sans-serif;
        font-size: $h1-text-rem;
        font-weight: 700;
        line-height: normal;
      }
    }
  }

  .introduction {
    padding: 40px 0px;
    width: $max-width;

    .card-1, .card-2, .card-3, .card-4 {
      padding: $base-padding 0px;
      display: flex;
    }

    .card-1, .card-3 {
      background-color: $secondary-color;
    }

    .card-2, .card-4 {
      background-color: $clu-purple;
    }

    img, iframe {
      margin: calc($base-padding / 2);
      width: 50%;
    }

    iframe {
      border: none;
      aspect-ratio: calc(16/9);
    }

    p {
      color: white;
      font-family: "Raleway";
      font-size: $small-text-em;
      margin: calc($base-padding / 2);
      width: 50%;
      display: flex;
      align-items: center;
    }
  }

  .content {
    padding: 0 0 40px 0;
    width: $max-width;
    display: flex;

    .profile {
      background-color: $clu-light-gold;
      border-radius: 100vh;
      padding: 10px;
      display: flex;

      .left {
        align-self: center;
        
        .profile-image {
          background-color: red;
          aspect-ratio: calc(1/1);
          border-radius: 50%;
          overflow: hidden;
          width: 100px;
        }
      }

      .right {
        padding: 0 $base-padding 0 $base-padding;
        align-self: top;
      }
    }
  }
}

.contact-page {
  background-color: $clu-light-purple;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .header {
    width: 100vw;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;


    h1 {
      color: white;
      font-family: "Raleway",Helvetica,Arial,sans-serif;
      font-size: $h1-text-rem;
      font-weight: 700;
      line-height: normal;
    }
  }

  .content {
    width: $max-width;

    .content-card{
      padding: $base-padding 0px $base-padding 0px;
      display: flex;
      background-color: white;

    }

    img {
      padding: calc($base-padding / 2);
      width: 100%;
      border: 10px solid $clu-light-purple;
    }

    p {
      color: #333;
      font-family: "Raleway";
      font-size: 1.3em;
      padding: $base-padding;
      width: 50%;
      align-items: center;

      a {
        color: #1469b8;
      }
    }

    ul{
      color: #333;
      font-family: "Raleway";
      font-size: 1.3em;
      padding: $base-padding;
      width: 50%;
      align-items: center;
    }
  }
}